:root {
    --score-board: #335060;
    --couleur-text-hover: #91DEBF;
    --couleur-chrono: #5b0eeb;

    --white: rgba(0,0,0,0.5);
    --couleur-background: #0196b0;
    --couleur-shadow: #4AA29F;
    --couleur-shadow-box: #397D7B;
    --border-chrono-1: #CFE9E2;
    --border-chrono-2: #E8E8E8;
    --couleur-text: #CFE9E2;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/SF-Pro.ttf);
 }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: myFirstFont, sans-serif;
    user-select: none;

}

body{
    margin: 0;
    font-size: 160%;
    background-image: url('../img/background4.jpg');
    background-position: center;
    text-shadow: 2px 2px 2px var(--score-board);
}

@media screen and (min-width: 900px) {
    body {
        font-size: 100%;
    }
}

button {
    cursor: pointer;
    border: none;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--couleur-shadow), inset -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--border-chrono-1);
    transition: 0.3s ease;
}

button:active {
    box-shadow: 0.3rem 0.3rem 0.6rem var(--couleur-shadow), -0.2rem -0.2rem 0.5rem var(--white);
}

@media screen and (max-width: 600px) {
    body {
        font-size: 100%;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 820px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    margin: 0 auto;
}

@media screen and (min-width: 900px) {
    .container {
        height: max-content;
        width: 600px;
    }
}

@media screen and (max-width: 420px) {
    body {
        font-size: 100%;
    }
}

select {
    border: 0;
    outline: 0;
    background: none;
    color: inherit;
    box-shadow: none;
}


.d1 {
    display: flex;
    align-self: flex-start;
    margin: 0 auto 20px auto;
}

.d1 img {
    margin: 0 auto;
}

@media screen and (min-width: 900px) {
    .d1 img {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .d1 img {
        height: 8em;
    }
}

.d2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
    width: 80%;
    height: fit-content;
    padding: 2vh;
    background-image: linear-gradient(to bottom, var(--score-board), var(--couleur-background));
    box-shadow:  0.4rem 0.4rem 1rem var(--couleur-shadow-box), -0.4rem -0.4rem 1rem var(--couleur-shadow-box);
    margin: 0 auto;
}

.d2_d1, .d2_d2 {
    display: flex;
    padding: 1vh;
}

.d2_d1 input, .d2_d2 input {
    width: 100%;
    color: var(--couleur-text);
    background: none;
    border: none;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--couleur-shadow), inset -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: 10px;
    font-size: 1em;
    padding: 0.5em;
}

.d2_d1 input::placeholder, .d2_d2 input::placeholder {
    color: var(--border-chrono-1);
}

.d2_d1 input:focus, .d2_d2 input:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--couleur-shadow), -0.2rem -0.2rem 0.5rem var(--white);
}
.d2_d3, .d2_d4, .d2_d5, .d2_d6, .d2_d7 {
    display: flex;
    flex-wrap: wrap;
    padding: 1vh;
    align-items: center;

}

.d2 label {
    width: 40%;
    color: var(--couleur-text);
    text-transform: uppercase;
    font-weight: bold;
}

.d2 select {
    width: 60%;
    color: var(--border-chrono-1);
    box-shadow: 0.3rem 0.3rem 0.6rem var(--couleur-shadow), -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: 10px;
    font-size: 1em;
    padding: 0.5em;
}

.d2_d8 {
    display: flex;
    padding: 1vh;
}

.d2_d8 button {
    margin: 5vh auto auto auto;
    width: 50%;
    font-size: 1em;
    border: none;
    background-image: url('../img/background4.jpg');
    border-radius: 9999px;
    padding: 1.5vh;
}

.d2_d8 button:hover {
    color: var(--couleur-text-hover);
}

